// main: ../main.scss
/*--------------------------------------------------------------
# Post List 6 Section
--------------------------------------------------------------*/
.post-list-6 {
  article {
    position: relative;
    transition: 0.3s;
    overflow: hidden;

    img {
      transition: 0.5s;
    }

    .post-date {
      background-color: var(--surface-color);
      color: var(--default-color);
      position: absolute;
      top: 20px;
      left: 20px;
      text-transform: uppercase;
      font-size: 13px;
      padding: 6px 12px;
      font-weight: 500;
    }

    .post-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 20px;
      padding: 20px;
      color: var(--contrast-color);
      text-shadow: 0px 0px 30px var(--default-color);
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
      transition: 0.3s;
      margin: 0;

      a {
        color: var(--contrast-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.1)
      }
    }
  }
}