// main: ../main.scss
/*--------------------------------------------------------------
# Resume 4 Section
--------------------------------------------------------------*/
.resume-4 {
  .resume-wrapper {
    .resume-block {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: 0.8rem;
        font-weight: 700;

        span {
          color: var(--accent-color);
        }
      }

      .lead {
        color: color-mix(in srgb, var(--default-color), transparent 25%);
        margin-bottom: 3rem;
      }
    }

    .timeline {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 20%;
        top: 0;
        height: 100%;
        width: 2px;
        background-color: color-mix(in srgb, var(--accent-color), transparent 85%);
      }

      .timeline-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2.5rem;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        .timeline-left {
          width: 20%;
          padding-right: 3rem;

          .company {
            color: var(--heading-color);
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0.25rem;
          }

          .period {
            color: var(--accent-color);
            font-size: 0.9rem;
          }
        }

        .timeline-dot {
          position: absolute;
          left: calc(20% + 1px);
          transform: translateX(-50%);
          width: 1rem;
          height: 1rem;
          background-color: var(--accent-color);
          border-radius: 50%;
        }

        .timeline-right {
          width: 70%;
          padding-left: 3rem;
          margin-top: -4px;

          .position {
            color: var(--heading-color);
            font-size: 1.2rem;
            margin-bottom: 0.6rem;
            font-weight: 600;
          }

          .description {
            color: color-mix(in srgb, var(--default-color), transparent 25%);
          }

          ul {
            padding-left: 15px;

            li {
              padding-bottom: 12px;
            }
          }
        }
      }
    }

    @media (max-width: 992px) {
      .resume-block {
        h2 {
          font-size: 2rem;
        }
      }

      .timeline {
        &::before {
          left: 1rem;
        }

        .timeline-item {
          flex-direction: column;
          margin-bottom: 20px;

          .timeline-left {
            width: 100%;
            text-align: left;
            padding-right: 0;
            padding-left: 2.5rem;
            margin-bottom: 1.6rem;
            margin-top: -4px;
          }

          .timeline-dot {
            left: calc(1rem + 1px);
          }

          .timeline-right {
            width: 100%;
            padding-left: 2.5rem;
          }
        }
      }
    }
  }
}