// main: ../main.scss
/*--------------------------------------------------------------
# Slider 5 Section
--------------------------------------------------------------*/
.slider-5 {
  background-color: transparent;

  .swiper-wrapper {
    height: auto !important;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: color-mix(in srgb, var(--default-color) 90%, white 15%);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--accent-color);
    }
  }

  .swiper-slide {
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color-mix(in srgb, var(--background-color), transparent 50%);
    }

    @media (max-width: 575px) {
      min-height: 300px;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 24px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }

  .content {
    padding: 60px 80px;
    max-width: 700px;
    position: relative;

    a,
    h2,
    p {
      color: var(--default-color);
    }
  }
}