// main: ../main.scss
/*--------------------------------------------------------------
# Slider 4 Section
--------------------------------------------------------------*/
.slider-4 {
  overflow: visible;
  margin-bottom: 200px;

  .section-title {
    text-align: left;

    h2 {
      color: color-mix(in srgb, var(--contrast-color), transparent 50%);
      text-transform: uppercase;
      font-size: 20px;
    }

    p {
      color: var(--contrast-color);
    }
  }

  .services-carousel-wrap {
    position: relative;
    margin-bottom: -200px;
  }

  .swiper-wrapper {
    height: auto;
  }

  .service-item {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      background-color: color-mix(in srgb, var(--background-color), transparent 50%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition: .3s all ease;
    }

    img {
      transition: .5s all ease;
      transform: scale(1.0);
    }

    .service-item-contents {
      z-index: 9;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      transition: .3s all ease;
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;

      .service-item-category {
        color: var(--accent-color);
        text-transform: uppercase;
      }

      .service-item-title {
        color: var(--contrast-color);
        margin-bottom: 0;
      }
    }

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }

      .service-item-contents {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }

      img {
        transform: scale(1.2);
      }
    }
  }

  .navigation-prev,
  .navigation-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 46px;
    height: 46px;
    background: var(--contrast-color);
    background-color: none;
    border: none;
    transition: 0.3s all ease;

    i {
      font-size: 2rem;
    }

    &:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  }

  .navigation-prev {
    left: 10px;
  }

  .navigation-next {
    right: 10px;
  }

  .swiper {
    padding-bottom: 50px;
  }

  .swiper-pagination {
    bottom: 0px;

    .swiper-pagination-bullet {
      border-radius: 0;
      width: 20px;
      height: 4px;
      background-color: color-mix(in srgb, var(--background-color), transparent 80%) !important;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--accent-color) !important;
    }
  }
}