// main: ../main.scss
/*--------------------------------------------------------------
# Tabs 6 Section
--------------------------------------------------------------*/
.tabs-6 {
  .nav-tabs {
    border: 0;
  }

  .nav-link {
    background-color: var(--surface-color);
    color: var(--color-secondary);
    border: 0;
    padding: 25px 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.0s;
    cursor: pointer;
    height: 100%;

    i {
      font-size: 32px;
      line-height: 0;
    }

    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 10px 0 0 0;
    }

    &:hover {
      color: var(--accent-color);
    }

    &:hover,
    &.active {
      transition: 0.3s;
      background: var(--accent-color);
      color: var(--contrast-color) !important;

      h4 {
        color: var(--contrast-color);
      }

      border-color: var(--accent-color);

      i {
        color: var(--contrast-color) !important;
      }
    }
  }

  .tab-content {
    margin-top: 30px;
  }

  .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }

  .tab-pane {
    h3 {
      font-weight: 600;
      font-size: 28px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
      }

      i {
        font-size: 24px;
        margin-right: 4px;
        color: var(--accent-color);
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}